@import '../../styles/_variables';

.stache-table-of-contents-wrapper {
  background-color: white;
  position: absolute !important;
  right: 0;
  top: 0;
  bottom: 0;

  .stache-table-of-contents-content {
    width: $stache-sidebar-column-width;
    padding-top: $stache-padding-half;
    padding-bottom: $stache-padding-plus-half;
    padding-right: $stache-padding-half;
    max-height: 100%;
    overflow-y: auto;
  }

  &.stache-table-of-contents-closed {
    border-left: none;
    margin-right: -$stache-sidebar-column-width;
  }
}
