@import '../../styles/_variables';

::ng-deep
.stache-table-of-contents {

  .stache-nav-list {
    color: $stache-text-color-default;
  }

  .stache-nav-list-item {
    font-size: 15px;
    margin: 3px 0;
    padding-left: .5em;
    line-height: $stache-line-height-base;
    border-left: 4px solid transparent;

    &.active {
      border-left-color: $stache-background-color-primary-dark;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  .stache-nav-anchor {
    &:hover {
      text-decoration: underline;
    }
  }
}

.stache-table-of-contents-wrapper {
  padding: 6px 0;
}

.stache-table-of-contents-heading {
  font-size: 1.5em;
  font-weight: 300;
  border-left: 8px solid transparent;
}
