<stache-layout-blank
  identifier="sidebar"
  [ngClass]="{
    'stache-layout-sidebar-closed': !isOpen,
    'stache-layout-sidebar-open': isOpen
  }"
>
  <aside class="stache-layout-sidebar-aside">
    <stache-affix>
      <stache-sidebar-wrapper
        [sidebarRoutes]="sidebarRoutes"
        (toggle)="onToggle($event)"
      >
      </stache-sidebar-wrapper>
    </stache-affix>
  </aside>

  <div class="stache-layout-sidebar-main">
    <stache-container>

      <stache-breadcrumbs *ngIf="showBreadcrumbs" [routes]="breadcrumbsRoutes">
      </stache-breadcrumbs>

      <stache-edit-button *ngIf="showEditButton">
      </stache-edit-button>

      <stache-page-header *ngIf="pageTitle">
        <stache-page-title>
          {{pageTitle}}
        </stache-page-title>
      </stache-page-header>

      <ng-content select="[stachePageSummary]"></ng-content>
      <ng-content select="stache-page-summary"></ng-content>

      <stache-table-of-contents *ngIf="showTableOfContents" [routes]="inPageRoutes">
      </stache-table-of-contents>

      <ng-content></ng-content>
    </stache-container>

    <stache-layout-footer>
    </stache-layout-footer>
  </div>
</stache-layout-blank>

<stache-back-to-top *ngIf="showBackToTop">
</stache-back-to-top>
