
<stache-layout-blank identifier="sidebar">
  <div class="sidebar-layout-wrapper">
    <stache-row reverseColumnOrder="true">
      <stache-column screenSmall="8" screenMedium="9" screenLarge="10">
        <div class="sidebar-layout-columns sidebar-layout-content-column">
          <stache-breadcrumbs *ngIf="showBreadcrumbs" [routes]="breadcrumbsRoutes">
          </stache-breadcrumbs>

          <stache-edit-button *ngIf="showEditButton">
          </stache-edit-button>

          <stache-page-header *ngIf="pageTitle">
            <stache-page-title>
              {{pageTitle}}
            </stache-page-title>
          </stache-page-header>

          <ng-content select="[stachePageSummary]"></ng-content>
          <ng-content select="stache-page-summary"></ng-content>

          <stache-table-of-contents *ngIf="showTableOfContents" [routes]="inPageRoutes">
          </stache-table-of-contents>

          <ng-content></ng-content>
      </div>
      <stache-footer>
      </stache-footer>
    </stache-column>
    <stache-column screenSmall="4" screenMedium="3" screenLarge="2">
        <div class="sidebar-layout-sidebar-column sidebar-layout-columns">
          <stache-affix>
            <stache-sidebar [routes]="sidebarRoutes">
            </stache-sidebar>
          </stache-affix>
        </div>
      </stache-column>
  </stache-row>
  </div>
  <stache-back-to-top *ngIf="showBackToTop">
  </stache-back-to-top>
</stache-layout-blank>
