
<stache-layout-blank identifier="sidebar">
  <div class="sidebar-layout-wrapper">
      <div class="sidebar-layout-columns sidebar-layout-content-column">
        <stache-breadcrumbs *ngIf="showBreadcrumbs" [routes]="breadcrumbsRoutes">
        </stache-breadcrumbs>

        <stache-edit-button *ngIf="showEditButton">
        </stache-edit-button>

        <stache-page-header *ngIf="pageTitle">
          <stache-page-title>
            {{pageTitle}}
          </stache-page-title>
        </stache-page-header>

        <ng-content select="[stachePageSummary]"></ng-content>
        <ng-content select="stache-page-summary"></ng-content>

        <stache-table-of-contents *ngIf="showTableOfContents" [routes]="inPageRoutes">
        </stache-table-of-contents>

        <ng-content></ng-content>
    </div>
    <stache-affix>
      <div class="sidebar-layout-sidebar-column sidebar-layout-columns">
        <div class="side-bar-layout-inner-sidebar">
        <stache-sidebar [routes]="sidebarRoutes">
        </stache-sidebar>
      </div>
      </div>
    </stache-affix>
  </div>
  <stache-back-to-top *ngIf="showBackToTop">
  </stache-back-to-top>
  <stache-footer *ngIf="showFooter">
  </stache-footer>
</stache-layout-blank>
