@import '../../styles/_variables';

/deep/
.stache-layout-sidebar {
  .stache-affix-top {
    @media (min-width: $stache-screen-sm-min) {
      display: flex;
      max-height: 100%;
    }

    @media (max-width: $stache-screen-xs-max) {
      position: static !important;
      top: auto !important;
    }
  }
}

/deep/
.stache-omnibar-enabled {
  .stache-layout-sidebar {
    .stache-affix-top {
      @media (min-width: $stache-screen-sm-min) {
        max-height: calc(100% - #{ $stache-omnibar-height });
      }
    }
  }
}

.sidebar-layout-wrapper {
  /deep/
  .stache-column:nth-child(2) {
    padding-right: 0;
    border-right: 1px solid #cdcfd2;
    box-shadow: 0px -2px 5px 0 rgba(0, 0, 0, 0.3);
  }

  .stache-column:first-child {
    padding-right: 0;
    padding-left: 0;
  }

  .sidebar-layout-content-column {
    padding-right: 15px;
    padding-left: 15px;
  }

  /deep/
  .stache-row {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }

  /deep/
  .sidebar-layout-columns {
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
