@import '../../styles/variables';

stache-layout-blank {
  margin-left: 0;
  transition: margin-left 250ms ease-in-out;
}

::ng-deep {
  .stache-layout-sidebar {
    display: flex;
    padding: 0 !important;
    min-height: calc(100vh - #{$stache-omnibar-height});
  }

  .stache-container {
    padding: 0 ($stache-padding * 4) !important;
  }
}

.stache-layout-sidebar-aside {
  flex: 0 0 $stache-sidebar-column-width;
  z-index: $stache-sidebar-z-index;
  border-right: 1px solid $stache-border-color-neutral-medium;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  ::ng-deep {
    stache-sidebar-wrapper {
      max-height: calc(100vh - #{$stache-omnibar-height});
      overflow-y: visible;
    }
  }
}

.stache-layout-sidebar-main {
  flex: 1 1 auto;
  padding-top: $stache-padding * 2;
  display: flex;
  flex-direction: column;

  ::ng-deep {
    stache-container {
      flex: 1 1 auto;
    }
  }
}

.stache-layout-sidebar-closed {
  margin-left: -$stache-sidebar-column-width;

  ::ng-deep {
    .stache-sidebar-buttons {
      position: absolute;
      left: 100%;
    }
  }

  .stache-layout-sidebar-aside {
    border-right: none;
    box-shadow: none;
  }
}
