@import '../../styles/_variables';

.stache-layout {
  padding: 20px 0;
  background-color: #fff;
  min-height: 100vh;
}

::ng-deep
.stache-omnibar-enabled {
  .stache-layout {
    min-height: calc(100vh - #{$stache-omnibar-height});
  }
}

.stache-layout-blank {
  padding: 0;
  background-color: $stache-background-color-neutral-light;

  /deep/
  .stache-tutorial {
    border: none;
  }
}
