@import '../../styles/_variables';

.stache-code-input {
  display: none;
}

.stache-code-output {
  border: 1px solid $stache-border-color-neutral-medium;
  border-top: none;
  margin-top: 0;
  background-color: $stache-background-color-selected;
  padding: $stache-padding * 2;
  overflow-x: auto;
  margin-bottom: $stache-margin * 2;
}

.code-block-header {
  border: 1px solid $stache-border-color-neutral-medium;
  display: flex;
  justify-content: space-between;

  .code-block-language-label {
    font-weight: 300;
    font-size: 19px;
    color: $sky-text-color-deemphasized;
    display: flex;
    align-items: center;
    padding: 0 $stache-padding * 2 2px;
  }

  ::ng-deep
  .stache-copy-to-clipboard {
    display: flex;
    align-items: center;
    padding: $stache-padding;
  }
}
