@import '../../styles/_variables';

.stache-code-input {
  display: none;
}

.stache-code-output {
  border: 1px solid $stache-border-color-neutral-medium;
  border-top: none;
  margin-top: 0;
  background-color: $stache-background-color-selected;
  padding: $stache-padding * 2;
  overflow-x: auto;
  margin-bottom: $stache-margin * 2;
}

.stache-code-block {
  position: relative;
}

::ng-deep
.sky-tab {
  .stache-code-output {
    margin-top: 0px;
    border: none;
  }
}

.code-block-header {
  border: 1px solid $stache-border-color-neutral-medium;
  position: relative;
  height: 35px;


  .code-block-language-label {
    font-weight: bold;
    display: inline-block;
    width: 90%;
    position: absolute;
    left: 15px;
    top: 20%;
  }

  ::ng-deep
  .stache-clipboard-btn {
    border: none;
    border-left: 1px solid $stache-border-color-neutral-medium;
    border-radius: 0%;
    display: inline-block;
    position: absolute;
    right: 0;
    outline: none;
  }
}
