<div class="stache-footer-wrapper">
  <div class="stache-footer-content">
      <h3 class="stache-footer-site-name">
        <a stacheRouterLink="/">
            {{ siteName }}
        </a>
      </h3>
      <ul class="footer-link-list">
        <li *ngFor="let resource of resourceLinks">
          <a stacheRouterLink="{{resource.path}}">{{ resource.name }}</a>
        </li>
      </ul>
      <div *ngIf="copyright" class="copyright-label">
          &copy; {{ copyright }}
      </div>
  </div>
</div>
