@import '../../styles/_variables';

.stache-footer-wrapper {
  padding: 10px 20px;
  background-color: #eeeeef;
  display: flex;
  flex-direction: column;
  align-items: center;

  .stache-footer-content {
    text-align: center;

    .stache-footer-site-name {
      a {
        text-decoration: none;
        font-weight: bold;
        color: $stache-text-color-deemphasized;
        border-bottom: 2px solid $stache-text-color-deemphasized;
      }
    }

    .copyright-label {
      color: $stache-text-color-deemphasized;
    }

    .footer-link-list {
      list-style: none;
      padding: 0;

      li {
        margin: 3px 0;
        line-height: $stache-line-height-base;
      }

      a {
        padding: 1px 5px 1px 0;
        display: block;
        text-decoration: none;
      }
    }
  }
}
