@import '../../styles/_variables';

.stache-footer-wrapper {
  // padding: 10px calc(#{ $stache-sidebar-column-width } + 40px);
  background-color: #eeeeef;
  color: $stache-text-color-deemphasized;

  .stache-footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    .stache-footer-site-name {
      font-weight: bold;
      color: $stache-text-color-deemphasized;
    }

    .footer-link-list {
      display: flex;
      flex-wrap: wrap;
      list-style: none;
      padding: 0;
      margin-top: 0;

      li {
        margin: 3px 5px;
        padding: 1px 5px 1px 0;
        line-height: $stache-line-height-base;

        a {
          text-decoration: none;
        }
      }
    }

    .copyright-label {
      text-align: center;
    }
  }
}
