<div class="stache-footer-wrapper">
  <div class="stache-footer-content">
      <h3 *ngIf="siteName" class="stache-footer-site-name">
        {{ siteName }}
      </h3>
      <ul *ngIf="footerLinks" class="footer-link-list">
        <li *ngFor="let link of footerLinks">
          <a stacheRouterLink="{{ link.route }}">{{ link.title }}</a>
        </li>
      </ul>
      <div *ngIf="copyright" class="copyright-label">
          &copy; {{ currentDate | date: 'yyyy' }} {{ copyright }}
      </div>
  </div>
</div>
