@import '../../styles/variables';

:host {
  background: #fff;
  display: flex;
  position: relative;
}

.stache-sidebar-wrapper {
  width: 100%;
  overflow-y: auto;
}

.stache-sidebar-buttons {
  float: right;
  margin-top: $stache-padding * 2;
  margin-right: 12px;
}

.stache-sidebar-content {
  padding-bottom: $stache-padding * 2;
}
