<div
  class="stache-sidebar-wrapper"
  [attr.aria-label]="'stache_sidebar_label' | skyAppResources"
>
  <div class="stache-sidebar-buttons">
    <button
      type="button"
      class="sky-btn sky-btn-default stache-sidebar-button"
      [attr.aria-controls]="elementId"
      [attr.aria-expanded]="isOpen"
      [attr.title]="'stache_sidebar_toggle_button' | skyAppResources"
      (click)="toggleSidebar()"
    >
      <i *ngIf="isOpen" class="fa fa-chevron-left" aria-hidden="true"></i>
      <i *ngIf="!isOpen" class="fa fa-chevron-right" aria-hidden="true"></i>
    </button>
  </div>

  <div
    class="stache-sidebar-content"
    [id]="elementId"
  >
    <stache-sidebar *ngIf="isOpen" [routes]="sidebarRoutes">
    </stache-sidebar>
  </div>
</div>
